$accent-color: #2196f3;
$title-text-color: #212121;
$text-color: #757575;
$white-color: #fff;
$card-set-gap: 30px;
$container-padding: 94px;
$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);

.header {
  border-bottom: 1px solid #ececec;
}

.container.header__container {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}

.sitenav {
  display: flex;
  margin-left: 93px;
}

.sitenav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  &:hover {
    color: $accent-color;
  }
  &:focus {
    color: $accent-color;
  }
}

.sitenav__item + .sitenav__item {
  margin-left: 50px;
}

.sitenav__link {
  color: $title-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  transition: color 250ms $transition-timing;
  position: relative;
}

.sitenav__link--active::after {
  content: "";

  background-color: $accent-color;
  border-radius: 2px;

  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;

  transition: opacity 250ms $transition-timing;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  color: $text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
  transition: color 250ms $transition-timing;
  &:focus {
    color: $accent-color;
  }
  &:hover {
    color: $accent-color;
  }
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link:hover .contacts__icon-envelope,
.contacts__link:hover .contacts__icon-smartphone {
  fill: $accent-color;
}

.contacts__icon-envelope,
.contacts__icon-smartphone {
  margin-right: 10px;
}

.contacts__icon-envelope {
  width: 16px;
  height: 12px;
}

.contacts__icon-smartphone {
  width: 10px;
  height: 16px;
}
