.section {
  padding-top: $container-padding;
  padding-bottom: $container-padding;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

//--section hero--//
.hero {
  background: #2f303a;
  padding: 200px 452px;
}
.hero--overlay {
  background-image: linear-gradient(to top, #2f303a66, #2f303a66),
    url(../images/img-bcg.jpg);
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  margin-bottom: 30px;

  color: $white-color;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
//==end of section hero==//

//--section features--//
.section-features {
  padding-bottom: 0;
}

.features {
  display: flex;
  justify-content: space-between;
}
.features__item {
  width: 270px;
}
.iconbox__icon {
  width: 70px;
  height: 70px;
}

.features__iconbox {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
}
//==end of section features==//

//--section servises--//
.section__title {
  margin-bottom: 50px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.servises__item {
  position: relative;
}

.servises {
  display: flex;
  justify-content: space-between;
}

.servises-overlay {
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  background: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0;
  left: 0;
}

.servises__text {
  display: flex;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  color: $white-color;
}
//==end of section servises==//

//--section team--//
.section-team {
  background: #f5f4fa;
  padding-top: $container-padding;
  padding-bottom: $container-padding;
}

.member {
  display: flex;
  justify-content: space-between;
}

.member__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background: #fff;
}

.member__name {
  margin-top: 30px;

  color: $title-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.member__work {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.network {
  display: flex;
  justify-content: center;
  align-items: center;
}

.network__link {
  margin-top: 16px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  padding: 12px;

  color: #afb1b8;

  cursor: pointer;

  transition: color 250ms $transition-timing,
    background-color 250ms $transition-timing;
  &:hover {
    color: $white-color;
    background-color: $accent-color;
  }
}

.network__link + .network__link {
  margin-left: 10px;
}

.network__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
//==end of section servises==//

//--section clients--//
.clients {
  display: flex;
  justify-content: center;
}

.clients__link {
  display: inline-block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--text-color);

  transition: color 250ms $transition-timing;
  &:hover {
    cursor: pointer;
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
